<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnvDTE" version="16.10.31320.204" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.34" targetFramework="net461" />
  <package id="stdole" version="16.10.31320.204" targetFramework="net461" />
</packages>